@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
::after,
::before,
:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body:not(i) {
  font-family: "Roboto", sans-serif;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #29293a;
  color: white;
  height: 56px;
  width: 100%;
}
#menu > * {
  height: 100%;
  margin: 0 15px;
}
#menu input {
  display: none;
}
#menu label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}
#menu #logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#menu #logo a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
#menu #logo img {
  height: 70%;
}
#menu #menuList {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: none;
}
#menu #search {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

#banner {
  width: 100vw;
  height: 105vw;
  color: #fff;
  background: url("../images/banner.jpg") no-repeat center center/cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#banner h3 {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  letter-spacing: 0.15rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#banner h1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-weight: 900;
}
#banner button {
  width: 195px;
  height: 55px;
  background: -webkit-gradient(linear, left top, right top, from(#107ef5), color-stop(#f648b1), to(#8430a1));
  background: linear-gradient(to right, #107ef5, #f648b1, #8430a1);
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
#banner button:hover {
  background: #107ef5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#offer {
  background: #f5f6fa;
  text-align: center;
  padding: 3rem 0;
  color: #29293a;
}
#offer h2 {
  padding: 3rem 0;
}