*,
::after,
::before,
:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #29293a;
  color: white;
  height: 56px;
  width: 100%;
}
#menu > * {
  height: 100%;
  margin: 0 20px;
}
#menu input {
  display: none;
}
#menu label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}
#menu #logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#menu #logo a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
#menu #logo img {
  height: 70%;
}
#menu #menuList {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: none;
}
#menu #search {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

#banner {
  width: 100vw;
  height: 105vw;
  color: #fff;
  background: url("../images/banner.jpg") no-repeat center center/cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#banner h3 {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
#banner h1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
#banner button {
  width: 195px;
  height: 55px;
  background: -webkit-gradient(linear, left top, right top, from(#107ef5), color-stop(#f648b1), to(#8430a1));
  background: linear-gradient(to right, #107ef5, #f648b1, #8430a1);
  border: none;
  color: white;
  cursor: pointer;
}