// 顏色
$menu: #29293a;
$primary: #f648b1;
$secondary: #8430a1;
$btnhover: #107ef5;
$texthover: #999ee9;
$adorn: #4854ed;
$bgg: #f5f6fa;
$text: #74757f;
$line: #beb6eb;

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
::after,
::before,
:hover {
  box-sizing: border-box;
}
* p {
  line-height: 1.5;
}
body {
  overflow-x: hidden;
  &:not(i) {
    font-family: 'Roboto', sans-serif;
  }
}

// menu
#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $menu;
  color: white;
  height: 56px;
  width: 100%;
  // padding: 0 20px;
  > * {
    height: 100%;
    margin: 0 15px;
  }
  input {
    display: none;
  }
  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }
  #logo {
    flex-grow: 1;
    a {
      display: inline-flex;
      align-items: center;
      height: 100%;
    }
    img {
      height: 70%;
    }
  }
  #menuList {
    flex-grow: 1;
    display: none;
  }
  #search {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

//banner
#banner {
  width: 100vw;
  height: 105vw;
  color: #fff;
  background: url('../images/banner.jpg');
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    letter-spacing: 0.15rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  h1 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 900;
  }
  button {
    width: 195px;
    height: 55px;
    background: linear-gradient(to right, $btnhover, $primary, $secondary);
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      background: $btnhover;
      transition: 0.3s;
    }
  }
}

// What we offer
#offer {
  background: $bgg;
  text-align: center;
  padding: 3rem 0;
  color: $menu;
  & * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col {
    margin-bottom: 5rem;
    width: 80%;

    & *:not(i) {
      margin-bottom: 0.8rem;
    }
    div {
      width: 65px;
      height: 65px;
      border: 2px solid $text;
      border-radius: 50%;
    }
    .fa-solid,
    .fa-lightbulb,
    .fa-microphone,
    .fa-headphones {
      background: linear-gradient(to top, $btnhover, $primary, $secondary);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.4rem;
      line-height: 2;
    }
    &:hover {
      transition: 1s;

      div {
        background: linear-gradient(to top, $btnhover, $primary, $secondary);
        transition: 1s;
      }
      .fa-solid,
      .fa-lightbulb,
      .fa-microphone,
      .fa-headphones {
        background: white;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 1s;
      }
    }
  }
  h2 {
    margin: 3rem 0 6rem;
    font-size: 1.6rem;
    font-weight: 900;
    span {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 26px;
        background: $line;
        top: -130%;
        left: 62%;
        transform: translateX(-50%) rotate(-146deg);
      }
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 26px;
        background: $line;
        top: 125%;
        left: 38%;
        transform: translateX(-50%) rotate(-146deg);
      }
    }
  }
  a {
    text-decoration: none;
    color: $menu;
    font-weight: normal;
    font-size: 1.2rem;
    &:hover {
      color: $btnhover;
      transition: 0.5s;
    }
  }
  p {
    color: $text;
  }
}

// SERVICE
#service {
  background: white;
  text-align: center;
  padding: 3rem 0;
  color: $menu;
  width: 100%;
  &,
  & * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row,
  .directions {
    width: 80%;
  }
  .directions,
  .col {
    margin-bottom: 3rem;
    p {
      color: $text;
    }
  }
  h2 {
    margin: 3rem 0;
    font-size: 1.6rem;
    font-weight: 900;
    span {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 26px;
        background: $line;
        top: -130%;
        left: 62%;
        transform: translateX(-50%) rotate(-146deg);
      }
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 26px;
        background: $line;
        top: 125%;
        left: 38%;
        transform: translateX(-50%) rotate(-146deg);
      }
    }
  }
  .col {
    align-items: flex-start;

    a {
      text-decoration: none;
      color: $menu;
      font-size: 1rem;
      margin-top: 0.5rem;
    }
    img {
      border-radius: 3%;
      &:hover {
        filter: brightness(70%);
        transition: 0.7s;
      }
    }
    h3 {
      font-weight: normal;
      color: $menu;
      &:hover {
        color: $btnhover;
        transition: 0.5s;
      }
    }
  }
}

// about
#about {
  background: url('../images/aboutBg.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 4rem 2rem;
  & * {
    margin: 1rem 0;
    text-align: center;
  }
  h2 {
    font-size: 1.6rem;
    font-weight: 900;
  }
  a {
    color: $primary;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      color: white;
    }
  }
  i {
    font-size: 3rem;
  }
}

// OUR TEAM
#team {
  background: white;
  text-align: center;
  padding-bottom: 5rem;
  color: $menu;
  width: 100%;
  &,
  & * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col {
    position: relative;
    margin-bottom: 3rem;
    .img {
      position: relative;

      &::before {
        transition: 0.8s;
        content: '';
        position: absolute;
        border-radius: 3%;
        width: 100%;
        height: 100%;
        background-color: #4854ed00;
      }
    }

    &:hover {
      .social {
        opacity: 1;
        transition: 0.5s;
      }
      .img {
        &::before {
          background-color: #4854ed77;
        }
      }
    }
  }
  h2 {
    margin: 5rem 0;
    font-size: 1.6rem;
    font-weight: 900;
    span {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 26px;
        background: $line;
        top: -130%;
        left: 62%;
        transform: translateX(-50%) rotate(-146deg);
      }
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 26px;
        background: $line;
        top: 125%;
        left: 38%;
        transform: translateX(-50%) rotate(-146deg);
      }
    }
  }

  img {
    border-radius: 3%;
  }

  i {
    font-size: 1.2rem;
    color: white;
  }

  .social {
    flex-direction: row;
    align-self: flex-start;
    position: absolute;
    top: 65%;
    left: 5%;
    opacity: 0;
    transition: 0.5s;

    div {
      background: none;
      border-radius: 50%;
      margin: 0.1rem;
      width: 2.3rem;
      height: 2.3rem;
      transition: 0.5s;

      @each $color,
        $i in (#0064e0: 1, #2a9bce: 2, #dd2d64: 3, #d54c3f: 4, #0a66c2: 5)
      {
        &:nth-of-type(#{$i}) {
          &:hover {
            background: $color;
          }
        }
      }
    }
    &:hover {
      div {
        cursor: pointer;
      }
    }
  }
  a {
    transition: 0.5s;
    margin: 0.8rem 0;
    text-decoration: none;
    color: $adorn;
    &:hover {
      color: $primary;
    }
  }
  h3 {
    font-weight: normal;
  }
  a,
  p {
    align-self: flex-start;
  }
  p {
    color: $text;
    font-size: 0.8rem;
  }
  button {
    width: 160px;
    height: 55px;
    background: linear-gradient(to right, $btnhover, $primary, $secondary);
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      background: $btnhover;
      transition: 0.3s;
    }
  }
}

// Our Portfolio
#portfolio {
  background: $bgg;
  text-align: center;
  padding: 3rem 0;
  color: $menu;
  &,
  & * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    margin: 3rem 0 6rem;
    font-size: 1.6rem;
    font-weight: 900;
    span {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 26px;
        background: $line;
        top: -130%;
        left: 62%;
        transform: translateX(-50%) rotate(-146deg);
      }
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 26px;
        background: $line;
        top: 125%;
        left: 38%;
        transform: translateX(-50%) rotate(-146deg);
      }
    }
  }
  .row {
    width: 80%;
  }
  .col,
  iframe {
    width: 100%;
  }
}

// Testimonials
#testimonials {
  background: url('../images/testimonialsBg.jpg');
  color: white;
  text-align: center;
  padding: 3rem 0;
  width: 100%;

  & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    margin: 3rem 0 6rem;
    font-size: 1.6rem;
    font-weight: 900;
    span {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 26px;
        background: $line;
        top: -130%;
        left: 62%;
        transform: translateX(-50%) rotate(-146deg);
      }
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 26px;
        background: $line;
        top: 125%;
        left: 38%;
        transform: translateX(-50%) rotate(-146deg);
      }
    }
  }
  .carousel {
    width: 80%;
  }
  img {
    border-radius: 50%;
  }
}
